# OS X
.DS_Store
# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa
# Bundler
.bundle
#Carthage
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
# 
# Note: if you ignore the Pods directory, make sure to uncomment
# `pod install` in .travis.yml
#
#CocoaPods
Development Pods/*
Pods/
Podfile.lock
docs
fish-ios/fish-ios/fish-ios/Libs/PrivatePods/IJKMediaPlayer/IJKMediaFramework.framework/IJKMediaFramework
fish-ios/fish-ios/fish-ios/Libs/PrivatePods/IJKMediaPlayer/IJKMediaFramework.framework/Info.plist
fish-ios/fish-ios/fish-ios/Libs/PrivatePods/IJKMediaPlayer/IJKMediaFramework.framework/Headers/IJKAVMoviePlayerController.h
fish-ios/fish-ios/fish-ios/Libs/PrivatePods/IJKMediaPlayer/IJKMediaFramework.framework/Headers/IJKFFMonitor.h
fish-ios/fish-ios/fish-ios/Libs/PrivatePods/IJKMediaPlayer/IJKMediaFramework.framework/Headers/IJKFFMoviePlayerController.h
fish-ios/fish-ios/fish-ios/Libs/PrivatePods/IJKMediaPlayer/IJKMediaFramework.framework/Headers/IJKFFOptions.h
fish-ios/fish-ios/fish-ios/Libs/PrivatePods/IJKMediaPlayer/IJKMediaFramework.framework/Headers/IJKKVOController.h
fish-ios/fish-ios/fish-ios/Libs/PrivatePods/IJKMediaPlayer/IJKMediaFramework.framework/Headers/IJKMediaFramework.h
fish-ios/fish-ios/fish-ios/Libs/PrivatePods/IJKMediaPlayer/IJKMediaFramework.framework/Headers/IJKMediaModule.h
fish-ios/fish-ios/fish-ios/Libs/PrivatePods/IJKMediaPlayer/IJKMediaFramework.framework/Headers/IJKMediaPlayback.h
fish-ios/fish-ios/fish-ios/Libs/PrivatePods/IJKMediaPlayer/IJKMediaFramework.framework/Headers/IJKMediaPlayer.h
fish-ios/fish-ios/fish-ios/Libs/PrivatePods/IJKMediaPlayer/IJKMediaFramework.framework/Headers/IJKMPMoviePlayerController.h
fish-ios/fish-ios/fish-ios/Libs/PrivatePods/IJKMediaPlayer/IJKMediaFramework.framework/Headers/IJKNotificationManager.h
fish-ios/fish-ios/fish-ios/Libs/PrivatePods/IJKMediaPlayer/IJKMediaFramework.framework/Headers/IJKSDLGLViewProtocol.h
fish-ios/fish-ios/fish-ios/Libs/PrivatePods/IJKMediaPlayer/IJKMediaFramework.framework/Modules/module.modulemap
